{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "replace-me",
    "storage_bucket": "replace-me.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:replace_me",
        "android_client_info": {
          "package_name": "com.example.medicare_ai"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_ME"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
